
CapaDeConexionCLS/bin/Debug/netstandard2.0/CapaDeConexionCLS.dll
CapaDeConexionCLS/bin/Debug/netstandard2.0/CapaDeConexionCLS.pdb
CapaDeConexionCLS/obj/Debug/netstandard2.0/CapaDeConexionCLS.csproj.CoreCompileInputs.cache
CapaDeConexionCLS/obj/Debug/netstandard2.0/CapaDeConexionCLS.dll
CapaDeConexionCLS/obj/Debug/netstandard2.0/CapaDeConexionCLS.pdb
CapaDeNegocioCLS/CapaDeNegocioCLS.csproj
CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.AssemblyInfo.cs
CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.AssemblyInfoInputs.cache


Proyecto/clsNegocios/obj/clsNegocios.csproj.nuget.dgspec.json
Proyecto/clsNegocios/obj/clsNegocios.csproj.nuget.g.props
Proyecto/clsNegocios/obj/clsNegocios.csproj.nuget.g.targets
Proyecto/clsNegocios/obj/project.assets.json
Proyecto/clsNegocios/obj/project.nuget.cache
Proyecto/clsNegocios/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Proyecto/clsNegocios/obj/Debug/netstandard2.0/clsNegocios.AssemblyInfo.cs
Proyecto/clsNegocios/obj/Debug/netstandard2.0/clsNegocios.AssemblyInfoInputs.cache
Proyecto/clsNegocios/obj/Debug/netstandard2.0/clsNegocios.assets.cache
Proyecto/clsNegocios/obj/Debug/netstandard2.0/clsNegocios.csprojAssemblyReference.cache
Proyecto/ConexionSql/obj/ConexionSql.csproj.nuget.dgspec.json
Proyecto/ConexionSql/obj/ConexionSql.csproj.nuget.g.props
Proyecto/ConexionSql/obj/ConexionSql.csproj.nuget.g.targets
Proyecto/ConexionSql/obj/project.assets.json
Proyecto/ConexionSql/obj/project.nuget.cache
Proyecto/ConexionSql/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Proyecto/ConexionSql/obj/Debug/netstandard2.0/ConexionSql.AssemblyInfo.cs
Proyecto/ConexionSql/obj/Debug/netstandard2.0/ConexionSql.AssemblyInfoInputs.cache
Proyecto/ConexionSql/obj/Debug/netstandard2.0/ConexionSql.assets.cache
Proyecto/ConexionSql/obj/Debug/netstandard2.0/ConexionSql.csprojAssemblyReference.cache
Proyecto/Pruebasddl/obj/project.assets.json
Proyecto/Pruebasddl/obj/project.nuget.cache
Proyecto/Pruebasddl/obj/Pruebasddl.csproj.nuget.dgspec.json
Proyecto/Pruebasddl/obj/Pruebasddl.csproj.nuget.g.props
Proyecto/Pruebasddl/obj/Pruebasddl.csproj.nuget.g.targets
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.AssemblyInfo.cs
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.AssemblyInfoInputs.cache
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.assets.cache
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.csprojAssemblyReference.cache
Proyecto/WindowsFormsApp2/obj/Parcial1.csproj.nuget.dgspec.json
Proyecto/WindowsFormsApp2/obj/Parcial1.csproj.nuget.g.props
Proyecto/WindowsFormsApp2/obj/Parcial1.csproj.nuget.g.targets
Proyecto/WindowsFormsApp2/obj/project.assets.json
Proyecto/WindowsFormsApp2/obj/project.nuget.cache
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.AssemblyInfo.cs
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.AssemblyInfoInputs.cache
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.assets.cache
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.csprojAssemblyReference.cache



CapaDeNegocioCLS/obj/CapaDeNegocioCLS.csproj.nuget.dgspec.json
CapaDeNegocioCLS/obj/CapaDeNegocioCLS.csproj.nuget.g.props
CapaDeNegocioCLS/obj/CapaDeNegocioCLS.csproj.nuget.g.targets
CapaDeNegocioCLS/obj/project.assets.json
CapaDeNegocioCLS/obj/project.nuget.cache
CapaDeNegocioCLS/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.assets.cache


CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.csprojAssemblyReference.cache
CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.csproj.CoreCompileInputs.cache
CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.csproj.FileListAbsolute.txt


CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.csproj.CoreCompileInputs.cache
CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.csproj.FileListAbsolute.txt
CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.csprojAssemblyReference.cache

Proyecto/.vs/ProyectoRestaurante/DesignTimeBuild/.dtbcache.v2
Proyecto/.vs/ProyectoRestaurante/v16/.suo
Proyecto/clsNegocios/bin/Debug/netstandard2.0/clsNegocios.deps.json
Proyecto/clsNegocios/bin/Debug/netstandard2.0/clsNegocios.dll
Proyecto/clsNegocios/bin/Debug/netstandard2.0/clsNegocios.pdb
Proyecto/clsNegocios/bin/Debug/netstandard2.0/ConexionSql.dll
Proyecto/clsNegocios/bin/Debug/netstandard2.0/ConexionSql.pdb
Proyecto/clsNegocios/obj/Debug/netstandard2.0/clsNegocios.csproj.CopyComplete
Proyecto/clsNegocios/obj/Debug/netstandard2.0/clsNegocios.csproj.CoreCompileInputs.cache
Proyecto/clsNegocios/obj/Debug/netstandard2.0/clsNegocios.csproj.FileListAbsolute.txt
Proyecto/clsNegocios/obj/Debug/netstandard2.0/clsNegocios.dll
Proyecto/clsNegocios/obj/Debug/netstandard2.0/clsNegocios.pdb
Proyecto/ConexionSql/bin/Debug/netstandard2.0/ConexionSql.deps.json
Proyecto/ConexionSql/bin/Debug/netstandard2.0/ConexionSql.dll
Proyecto/ConexionSql/bin/Debug/netstandard2.0/ConexionSql.pdb
Proyecto/ConexionSql/obj/Debug/netstandard2.0/ConexionSql.csproj.CoreCompileInputs.cache
Proyecto/ConexionSql/obj/Debug/netstandard2.0/ConexionSql.csproj.FileListAbsolute.txt
Proyecto/ConexionSql/obj/Debug/netstandard2.0/ConexionSql.dll
Proyecto/ConexionSql/obj/Debug/netstandard2.0/ConexionSql.pdb
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/clsNegocios.dll
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/clsNegocios.pdb
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/ConexionSql.dll
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/ConexionSql.pdb
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/MySqlConnector.dll
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/Pruebasddl.deps.json
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/Pruebasddl.dll
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/Pruebasddl.exe
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/Pruebasddl.pdb
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/Pruebasddl.runtimeconfig.dev.json
Proyecto/Pruebasddl/bin/Debug/netcoreapp3.1/Pruebasddl.runtimeconfig.json
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.csproj.CopyComplete
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.csproj.CoreCompileInputs.cache
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.csproj.FileListAbsolute.txt
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.dll
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.exe
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.genruntimeconfig.cache
Proyecto/Pruebasddl/obj/Debug/netcoreapp3.1/Pruebasddl.pdb
Proyecto/WindowsFormsApp2/bin/Debug/netcoreapp3.1/Parcial1.deps.json
Proyecto/WindowsFormsApp2/bin/Debug/netcoreapp3.1/Parcial1.dll
Proyecto/WindowsFormsApp2/bin/Debug/netcoreapp3.1/Parcial1.exe
Proyecto/WindowsFormsApp2/bin/Debug/netcoreapp3.1/Parcial1.pdb
Proyecto/WindowsFormsApp2/bin/Debug/netcoreapp3.1/Parcial1.runtimeconfig.dev.json
Proyecto/WindowsFormsApp2/bin/Debug/netcoreapp3.1/Parcial1.runtimeconfig.json
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.csproj.CoreCompileInputs.cache
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.csproj.FileListAbsolute.txt
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.csproj.GenerateResource.cache
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.dll
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.exe
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.genruntimeconfig.cache
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/Parcial1.pdb
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/WindowsFormsApp2.escojerCantidadProducto.resources
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/WindowsFormsApp2.escojerMesa.resources
Proyecto/WindowsFormsApp2/obj/Debug/netcoreapp3.1/WindowsFormsApp2.Form1.resources
