
CapaDeConexionCLS/bin/Debug/netstandard2.0/CapaDeConexionCLS.dll
CapaDeConexionCLS/bin/Debug/netstandard2.0/CapaDeConexionCLS.pdb
CapaDeConexionCLS/obj/Debug/netstandard2.0/CapaDeConexionCLS.csproj.CoreCompileInputs.cache
CapaDeConexionCLS/obj/Debug/netstandard2.0/CapaDeConexionCLS.dll
CapaDeConexionCLS/obj/Debug/netstandard2.0/CapaDeConexionCLS.pdb
CapaDeNegocioCLS/CapaDeNegocioCLS.csproj
CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.AssemblyInfo.cs
CapaDeNegocioCLS/obj/Debug/netstandard2.0/CapaDeNegocioCLS.AssemblyInfoInputs.cache
